@charset "UTF-8";

/* index start */
#wrapper {
	position:relative;
	width:100%;
	min-height:100%;
}
#main-v {
	position:fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background-image:url("/resources/img/main.jpg");
	background-position:center;
	background-size:cover;
	background-repeat:no-repeat;
	z-index:-10;
}
#main-wrap {
	position:fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	width:100%;
	background-color:rgba(0,0,0,0.4);
}
#main {
	position:fixed;
	width:1200px;
	top:15%;
	left:50%;
	margin-left:-600px;
}
#main-lnb {
	width:1200px;
	height:50px;
	line-height:50px;
	margin:0 auto;
	display:flex;
	flex-direction:row-reverse;
}
#main-lnb ul li {
	width:60px;
	text-align:center;
	float:left;
}
#main-lnb ul li a {
	color:#fff;
}
#main h1 {
	font-size:40px;
	font-weight:bold;
	color:#fff;
	text-align:center;
	border-top:1px solid #fff;
	border-bottom:1px solid #fff;
	padding:50px 0;
}
.line {
	width:1px;
	height:200px;
	margin:0 auto;
	background:#fff;
}
#main-gnb:before {
	content:'';
    display:block;
    position:absolute;
    top:191px;
    left:calc(50% - 1px);
    width:1px;
    height:301px;
    background:#fff;
}
#main-gnb {
	width:1000px;
	height:100px;
	margin:300px auto 0;
	border:1px solid #fff;
	border-radius:10px;
}
#main-gnb ul li {
	width:249px;
	height:100px;
	line-height:100px;
	float:left;
	border-right:1px solid #fff;
	text-align:center;
}
#main-gnb ul li:last-child {
	width:250px;
	border-right:none;
}
#main-gnb ul li a {
	display:inline-block;
	width:250px;
	height:100px;
	line-height:100px;
	color:#fff;
	font-size:20px;
	font-weight:bold;
}
#main-gnb ul li a:hover {
	background:rgba(255,255,255,0.2);
}

/* index end */

/* header start */
#header-wrap {
	width:100%;
	height:115px;
	line-height:115px;
	background:rgba(0,0,0,0.6);
}
#header {
	width:1200px;
	height:115px;
	line-height:115px;
	margin:0 auto;
	position:relative;
}
#gnb-wrap {
	width:100%;
	height:85px;
	line-height:85px;
	position:absolute;
	top:30px;
}
#gnb-wrap h1 {
	width:270px;
	font-size:40px;
	font-weight:bold;
	float:left;
}
#gnb-wrap h1 a {
	color:#fff;
}
#gnb {
	width:640px;
	height:85px;
	line-height:85px;
	float:left;
	margin-left:50px;
}
#gnb ul li {
	float:left;
	width:160px;
	height:85px;
	line-height:85px;
	text-align:center;
}
#gnb ul li a {
	display:inline-block;
	width:160px;
	height:85px;
	line-height:85px;
	color:#fff;
	font-size:20px;
	font-weight:bold;
}
#lnb {
	width:100%;
	height:30px;
	line-height:30px;
	position:absolute;
	top:0;
	right:0;
	display:flex;
	justify-content:flex-end;
}
#lnb ul li {
	min-width:60px;
	height:30px;
	line-height:30px;
	text-align:center;
	float:left;
	margin-left:5px;
}
#lnb ul li a {
	display:inline-block;
	min-width:60px;
	height:30px;
	line-height:30px;
	text-align:center;
	color:#fff;
}
/* header end */

/* menu start */
.menu-wrap {
	width:100%;
	height:auto;
	background:rgba(0,0,0,0.6);
	position:absolute;
	z-index:10;
	overflow:hidden;
	display:none;
}
.menu {
	width:880px;
	margin:0 auto;
	min-height:100px;
	padding-left:320px;
}
.menu ul {
	width:160px;
	float:left;
	height:auto;
}
/* .menu ul.member-menu {
	height:250px;
} */
.menu ul li {
	width:160px;
	height:50px;
	line-height:50px;
	text-align:center;
	color:#fff;
	font-size:15px;
}
.menu ul li a {
	width:160px;
	height:50px;
	line-height:50px;
	color:#fff;
}
/* menu end */

/* sub-visual start */
.sub-v {
	width:100%;
	height:320px;
	position:absolute;
	background:url(/resources/img/s-visual.png) no-repeat center;
	top:0;
	z-index:-1;
}
/* sub-visual end */

/* contents start */
#contents {
	clear:both;
	width:1180px;
	flex:1;
	margin:235px auto 200px;
	padding:10px;
}
.articleTit {
	font-size:20px;
	font-weight:bold;
	margin:20px 0 40px;
}
/* contents end */

/* contents section start */
.location {
	width:520px;
	margin:0 auto;
}
.location input.area {
	width:496px;
	height:30px;
	line-height:30px;
	padding:10px;
	margin-bottom:50px;
}

.itemArea {
	width:100%;
	margin-bottom:50px;
}
.itemArea.rentalInfo {
	display:flex;
	justify-content:space-between;
	margin-bottom:30px;
}
.itemArea.rentalInfo table {
	width:580px;
}
.placeInfo {
	width:580px;
	display:flex;
	flex-direction:column;
	align-content:space-between;
}
p.infotext {
	color:#f00;
	margin-bottom:5px;
}
p.noItem {
	text-align:center;
	display:flex;
	justify-content:center;
	align-content:center;
	padding:50px 0;
	font-size:18px;
	font-weight:bold;
}
div.notice {
	width:100%;
	margin:0 auto 80px;
}
div.nomargin {
	margin:0 auto;
}
div.notice p {
	line-height:30px;
}
span.red {
	color:#f00;
	font-weight:bold;
	line-height:30px;
	display:inline-block;
	font-size:15px;
}
div.notice p > span.red {
	color:#f00;
	font-weight:bold;
	display:inline;
}
.itemName {
	font-size:20px;
	font-weight:bold;
	padding-bottom:10px;
	margin-top:30px;
	border-bottom:2px solid #dedede;
	padding:0 0 10px 10px;
}

h3.calTit {
	height:16px;
	line-height:16px;
	font-size:15px;
	font-weight:bold;
	padding-left:10px;
	border-left:3px solid #8FBC94;
	margin-bottom:20px;
}
.listTbl {
	width:100%;
	margin-top:10px;
}
.listTbl tr.bgTr th {
	background:#8FBC94;
	color:#fff;
	padding:20px 0;
}
.listTbl th {
	border-bottom:1px solid #e3e3e3;
	text-align:center;
	color:#888;
	font-weight:bold;
	padding:20px 0;
}
.listTbl tr.rental:hover,
.listTbl tr.goDetail:hover {
	cursor:pointer;
	background:#fafafa;
}
.listTbl td {
	height:60px;
	line-height:60px;
	text-align:center;
	border-bottom:1px solid #ebebeb;
	color:#555;
}
.listTbl td.red {
	color:#f00;
	font-weight:bold;
}
.listTbl td.blue {
	color:#1565C0;
	font-weight:bold;
}
.listTbl td button.btninTbl {
	width:80px;
	height:35px;
	text-align:center;
	border:1px solid #dedede;
	background:#fff;
	lihe-height:35px;
}
.listTbl td button.btninTbl:hover {
	background:#8FBC94;
	color:#fff;
	border:none;
}
.listTbl td button.btninTbl:disabled {
	background:#ddd;
	color:#fff;
	cursor:default;
}

.detailTbl {
	width:100%;
	border-top:1px solid #e3e3e3;
}
.detailTbl th {
	padding:20px 20px 20px 0;
	border-bottom:1px solid #e3e3e3;
	background:#8FBC94;
	text-align:right;
	color:#fff;
	font-weight:bold;
	width:150px;
	vertical-align:middle;
}
.detailTbl td {
	padding:20px;
	text-align:left;
	border-bottom:1px solid #ebebeb;
	color:#555;
}
.detailTbl td.blank {
	height:5px;
	padding:0;
}
.detailTbl td input {
	width:250px;
	height:20px;
	line-height:20px;
	padding:10px;
}
.detailTbl td input:read-only {
	background:#eee;
	cursor:default;
}
.detailTbl td select {
	height:42px;
	line-height:42px;
	width:250px;
	outline:none;
	appearance:none;
	-webkit-appearance:none;
	-moz-appearance:none;
	-ms-appearance:none;
	cursor:pointer;
	border-radius:0;
	background:url(/resources/img/select-arrow.png) no-repeat 95%;
	padding-left:10px;
	border:1px solid #dedede;
	vertical-align:middle;
}
.detailTbl td textarea {
	border:1px solid #dedede;
	padding:10px;
	appearance:none;
	-webkit-appearance:none;
	-moz-appearance:none;
	-ms-appearance:none;
	resize:none;
	width:calc(100% - 20px);
	height:300px;
}
.postArea {
	display:flex;
	flex-direction:row;
	justify-content:flex-start;
	margin-bottom:10px;
}
.postArea .post {
	width:100px;
	margin-right:10px;
}
.postArea .postBtn {
	width:120px;
	height:42px;
	line-height:42px;
	text-align:center;
	background:#FFF;
	border:1px solid #dedede;
	vertical-align:middle;
	cursor:pointer;
	padding:0;
}
.postArea .postBtn:hover {
	background:#8FBC94;
	color:#fff;
}
.adrsArea {
	display:flex;
	flex-direction:column;
	align-content:flex-start;
}
.adrsArea input {
	width:700px !important;
	margin-bottom:10px;
}
.detailTbl tr.file {
	display:none;
}
.detailTbl tr td p.documentText {
	clear:both;
	padding-top:20px;
	display:none;
}
.detailTbl tr td.feeArea {
	display:flex;
	flex-direction:row;
	border-bottom:none;
	padding-bottom:0;
}
.detailTbl tr td.feeArea p {
	color:#f00;
}
.detailTbl tr td.feeArea.last {
	padding-bottom:20px;
}
.detailTbl tr td.feeArea label {
	height:42px;
	line-height:42px;
	margin-right:10px;
}

.tblBtnArea {
	width:100%;
	margin-top:25px;
	display:flex;
	justify-content:flex-end;
}
.tblBtnArea.space-between {
	justify-content:space-between;
}
.tblBtnArea a.active,
.tblBtnArea button.active,
.tblBtnArea.space-between a,
.tblBtnArea.space-between button {
	display:inline-block;
	min-width:100px;
	padding:0 10px;
	height:40px;
	line-height:40px;
	margin:0 10px;
	text-align:center;
	font-weight:bold;
	border:1px solid #dedede;
	background:#fff;
}
.tblBtnArea a.active:hover {
	background:#8FBC94;
	color:#fff;
}
.tblBtnArea.space-between input.modify {
	display:inline-block;
	width:100px;
	height:40px;
	line-height:40px;
	margin:0 10px;
	text-align:center;
	font-weight:bold;
	border:1px solid #dedede;
	background:#fff;
	cursor:pointer;
}
.tblBtnArea.space-between input.modify:hover {
	background:#8FBC94;
	color:#fff;
}

#selectTime {
	display:flex;
	justify-content:flex-start;
	flex-wrap:wrap;
	width:100%;
	margin:40px 0;
}
#selectTime p,
#selectItem p {
	width:100%;
	text-align:center;
	font-size:18px;
	font-weight:bold;
	padding:50px 0;
}
#selectTime input {
	position:absolute;
	width:0;
	height:0;
}
#selectTime input + label {
	display:inline-block;
	min-width:150px;
	height:80px;
	line-height:80px;
	text-align:center;
	border:1px solid #dedede;
	cursor:pointer;
	margin-bottom:15px;
	font-size:18px;
	font-weight:bold;
	align-items:center;
	position:relative;
	margin-right:15px;
}
#selectTime input + label:hover {
	border:1px solid #8FBC94;
	color:#8FBC94;
}
#selectTime input:checked + label {
	content:'';
	background:#8FBC94;
	color:#fff;
}
#selectTime input:disabled + label {
	color:#dedede;
	cursor:default;
}
#selectTime input:disabled + label:hover {
	border:1px solid #dedede;
}

#selectItem {
	width:100%;
	text-align:center;
	display:none;
}
#selectItem #showItems,
#selectItem #hideItems {
	width:200px;
	height:50px;
	line-height:50px;
	text-align:center;
	font-size:18px;
	font-weight:bold;
	color:#fff;
	background:#8FBC94;
	border:none;
}
#selectItem #hideItems {
	margin-top:30px;
}

#rentalItems {
	display:none;
	width:100%;
}
#rentalItems .calTit {
	text-align:left;
}
.stadiumCal {
	display:flex;
	flex-direction:column;
	align-items:flex-end;
	margin-top:50px;
}
.stadiumCal p,
.stadiumCal p span {
	font-size:20px;
	font-weight:bold;
	line-height:28px;
}
.stadiumCal p.marginTop {
	margin-top:10px;
}
.stadiumCal p span#totalMoney {
	color:#1565C0;
}
#goRentalBtn {
	display:none;
}
#accountTransfer {
	margin-top:20px;
}
.totalPrice {
	font-size:20px;
	font-weight:bold;
	margin-top:20px;
	text-align:right;
}
.totalPrice span {
	color:#1565C0;
}
#creditCard {
	display:none;
	margin-top:20px;
}
#creditCard .selectArea {
	justify-content:flex-start;
	padding-left:0;
}
#creditCard .selectArea select {
	margin-left:0;
}
.cardArea {
	display:flex;
	justify-content:space-between;
	align-items:center;
}
.cardArea input {
	width:150px;
	height:20px;
	line-height:20px;
	padding:10px;
}

.boardArea {
	width:960px;
	margin:0 auto;
	display:flex;
	justify-content:space-between;
}
.boardField {
	width:460px;
}
.boardForm h4 {
	font-size:18px;
	font-weight:bold;
	margin-bottom:15px;
}
.boardField label {
	display:flex;
	flex-wrap:wrap;
	flex-direction:column;
	margin-bottom:30px;
	align-content:space-between;
}
.boardField label input {
	padding:10px;
	height:30px;
	line-height:30px;
	width:436px;
}
.boardField label.justify {
	flex-direction:row;
	justify-content:flex-start;
	align-items:center;
}
.boardField label.justify input {
	margin-right:10px;
	width:100px;
}
.boardField label.justify span {
	margin-right:10px;
}
.boardField select {
	margin-bottom:10px;
	height:52px;
	line-height:52px;
	width:460px;
	outline:none;
	appearance:none;
	-webkit-appearance:none;
	-moz-appearance:none;
	-ms-appearance:none;
	cursor:pointer;
	border-radius:0;
	background:url(/resources/img/select-arrow.png) no-repeat 95%;
	padding-left:10px;
}
.textArea {
	width:960px;
	margin:0 auto;
	display:flex;
	flex-direction:column;
	align-content:space-between;
}
.textArea textarea {
	width:calc(100% - 20px);
	padding:10px;
	resize:none;
	height:150px;
}
#mb_m_date {
	width:150px;
	cursor:pointer;
}
/* contents section end */

/* footer */
footer#footer-wrap {
	clear:both;
	width:100%;
	height:200px;
	border-top:1px solid #dedede;
	background:#242424;
	margin-top:auto;
	flex-shrink:0;
}
#footer {
	width:1200px;
	margin:0 auto;
}
#footer h3 {
	padding:40px 0 20px;
}
#footer h3 a {
	font-size:30px;
	font-weight:bold;
	color:#ddd;
}
#footer .link {
	border-bottom:1px solid #454545;
	padding:20px 0 15px 0;
}
#footer .link a {
	color:#ddd;
	margin-right:10px;
	font-weight:bold;
}

#footer .copyright {
	color:#ddd;
	padding-top:15px;
	display:flex;
	justify-content:space-between;
}
#footer .copyright a {
	color:#fff;
}

/* footer */

/* dialog start */
#dialog {
	display:none;
	border-radius:0;
}
.ui-widget-header {
	background:none;
}
.ui-dialog .ui-dialog-title {
	font-size:20px;
	padding-bottom:10px;
}
.ui-corner-all {
	border-radius:0;
}
.modalTit {
	font-size:20px;
	margin:20px 0 10px 0;
}
.modalTit span {
	color:#f00;
	padding-left:10px;
	font-weight:normal;
}
.modalToggle ul li {
	height:55px;
	line-height:55px;
	display:flex;
	justify-content:flex-start;
	align-content:center;
	border-bottom:1px solid #dedede;
}
.modalToggle ul li:last-child {
	border-bottom:none;
}
.modalToggle ul li span {
	width:150px;
	font-size:16px;
}
.ui-widget-content {
	border:none;
}
.ui-dialog-buttonset {
	display:flex;
	justify-content:flex-end;
	flex-direction:row;
}
.ui-dialog .ui-dialog-buttonpane button:hover {
	background:#e6e6e6;
	border:1px solid #d3d3d3;
}
/* dialog end */

/* selectArea */
.selectArea,
.insertArea {
	padding:0 10px 20px 10px;
	display:flex;
	justify-content:flex-end;
}
.selectArea.row {
	justify-content:flex-start;
}
.selectArea select {
	outline:none;
	appearance:none;
	-webkit-appearance:none;
	-moz-appearance:none;
	-ms-appearance:none;
	cursor:pointer;
	font-size:13px;
	color:#4e4e4e;
	border-radius:0;
	border:1px solid #ebebeb;
	padding:8px 70px 8px 10px;
	background:url(/resources/img/select-arrow.png) no-repeat 85%;
	margin-left:10px;
}
.selectArea select:disabled {
	cursor:default;
	background-image:url(/resources/img/select-arrow.png) no-repeat 85%;
	background-color:#eee;
}
.selectArea input {
	padding:8px 25px;
	border:1px solid #ebebeb;
	background:#fff;
	margin-left:10px;
	cursor:pointer;
}
.selectArea input[type="submit"]:hover {
	background:#8FBC94;
	color:#fff;
}
.selectArea input#datepicker {
	padding:8px 10px !important;
}
.insertBtn {
	padding:8px 25px;
	border:1px solid #ebebeb;
	background:#fff;
	margin-left:10px;
	cursor:pointer;
}
.insertBtn:hover {
	background:#8FBC94;
	color:#fff;
}
/* selectArea */

/* searchArea */
#searchArea {
	text-align:center;	
	margin-top:100px;
	display:flex;
	justify-content:center;
}
#searchArea input.search-field {
	width:250px;
	height:35px;
	padding:0 10px;
	border:1px solid #e3e3e3;
	margin-right:10px;
}
#searchArea button.search-btn {
	width:60px;
	height:35px;
	line-height:35px;
	background:#FFF;
	border:1px solid #e3e3e3;
	text-align:center;
	vertical-align:middle;
	cursor:pointer;
}
/* searchArea */

/* datepicker */
.ui-datepicker-trigger {
	margin-left:10px;
	width:24px;
	height:24px;
	margin-top:5px;
	cursor:pointer;
}
#ui-datepicker-div {
	width:343px;
	background:#fff;
	padding:0;
}
.ui-datepicker-header {
  height: 50px;
  line-height: 50px;
  color: #b0aead;
  background: #e9e5e3;
  margin-bottom: 10px;
}
.ui-widget-header {
	border:none;
}
.ui-datepicker .ui-datepicker-prev, 
.ui-datepicker .ui-datepicker-next {
	top:15px;
}
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-button-hover {
	background:none;
	border:none;
	cursor:pointer;
}
.ui-datepicker .ui-datepicker-title {
  text-align:center;
  display:flex;
  justify-content:center;
  line-height:inherit;
}
.ui-datepicker-calendar {
  width: 100%;
  text-align: center;
}
.ui-datepicker table {
	margin:0;
}
.ui-datepicker-calendar thead tr th span {
  display: block;
  width: 40px;
  color: #8FBC94;
  margin-bottom: 5px;
  font-size: 13px;
}
.ui-state-default {
  display: block;
  text-decoration: none;
  color: #b5b5b5;
  line-height: 40px;
  font-size: 12px;
}
/* datepicker */

/* btnArea */
.btnArea {
	width:100%;
	display:flex;
	justify-content:center;
	margin:25px 0 50px;
}
.btnArea a {
	width:200px;
	height:50px;
	line-height:50px;
	margin:0 5px;
	text-align:center;
	font-size:18px;
	font-weight:bold;
	color:#fff;
}
.btnArea a.active,
.btnArea button.active {
	background:#8FBC94;
}
.btnArea a.cancle,
.btnArea button.cancle {
	background:#aaa;
}
.btnArea button {
	width:200px;
	height:50px;
	line-height:50px;
	margin:0 5px;
	text-align:center;
	font-size:18px;
	font-weight:bold;
	color:#fff;
	border:none;
}
/* btnArea */

/* toggle */
.toggle-wrap {
	display:inline-block;
	width:60px;
  	height:32px;
  	line-height:32px;
}
.toggle {
  	display:none;
}
.toggle-btn {
  	outline:0;
  	display:block;
  	width:60px;
  	height:32px;
  	line-height:32px;
  	position:relative;
  	cursor:pointer;
  	-webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
  	top:25%;
  	left:0;
}
.toggle-btn:after, .toggle-btn:before {
  	position:relative;
  	display:block;
  	content:"";
  	width:50%;
  	height:100%;
}
.toggle-btn:after {
  	left:0;
}
.toggle-btn:before {
  	display:none;
}
.toggle:checked + .toggle-btn:after {
  	left:50%;
}
.toggle + .toggle-btn {
  	background:#dedede;
  	border-radius:2em;
  	padding:2px;
  	transition:all 1s ease;
}
.toggle + .toggle-btn:after {
  	border-radius:50%;
  	background:#fff;
  	transition:all 1s ease;
}
.toggle:checked + .toggle-btn {
  	background:#9FD6AE;
}

/* tab */
#tab-wrapper {
    width:100%;
    min-height:300px;
    margin:0 auto;
}
ul.tabs {
    margin:0;
    padding:0;
    float:left;
    list-style:none;
    height:50px;
    border-bottom:1px solid #dedede;
    border-left:1px solid #dedede;
    width:100%;
}
ul.tabs li {
    float:left;
    text-align:center;
    cursor:pointer;
    width:150px;
    height:50px;
    line-height:50px;
    border: 1px solid #dedede;
    border-left:none;
    font-weight:bold;
    background:#fafafa;
    overflow:hidden;
    position:relative;
}
ul.tabs li.active {
    background:#8FBC94;
    border-bottom:1px solid #8FBC94;
}
ul.tabs li.active a {
	color:#fff;
}
.tab-container {
    clear:both;
    float:left;
    width:100%;
}
.tab-content {
    padding:30px 10px 100px;
    display:none;
}
/* tab */

/* pagination */
.pagination {
	margin:30px 0;
	text-align:center;
	display:flex;
	justify-content:center;
	align-items:center;
}
.pagination a {
	width:30px;
	height:30px;
	line-height:30px;
	display:inline-block;
	padding:0;
	margin:0 5px;
	color:#2b2b2b;
	text-align:center;
	cursor:pointer;
}
.pagination a.num {
	vertical-align:text-bottom;
}
.pagination a.pre,
.pagination a.next {
	font-size:28px;
	line-height:28px;
	color:#666;
}
.pagination a.spacing {
	letter-spacing:-10px;
}
.pagination a.is-active {
	background:#8FBC94;
	color:#fff;
	border-radius:100%;
	font-weight:bold;
}
/* pagination */

/* account */
#account-header {
	width:520px;
	margin:0 auto;
	text-align:center;
}
#account-header h1 {
	font-size:40px;
	padding:50px 0;
}
#account-contents {
	width:520px;
	flex:1;
	margin:0 auto 100px;
}
.account-title {
	font-size:20px;
	margin-bottom:20px;
}
.embed {
	margin:10px 0 25px;
	background:#fff;
	height:200px;
	border:1px solid #dedede;
	overflow-y:scroll;
	padding:10px;
}
#searchFormId {
	margin-bottom:40px;
}
#agreeForm {
	width:100%;
	display:flex;
	justify-content:space-between;
	margin:50px 0;
}
#agreeForm a,
#agreeForm input {
	width:48%;
	height:50px;
	line-height:50px;
	text-align:center;
	border:none;
	background:#8FBC94;
	color:#fff;
	font-weight:bold;
	font-size:18px;
	cursor:pointer;
}
#agreeForm a {
	background:#aaa;
}

.input-custom {
	width:100%;
	height:30px;
	line-height:30px;
}
.input-custom.all {
	margin-bottom:10px;
}
.radio-box {
	float:left;
	width:110px;
	height:30px;
	line-height:30px;
	position:relative;
}
.radio-box input[type=radio] {
	visibility:hidden;
	position:absolute;
}
.radio-box label {
	position:absolute;
	top:0;
	left:0;
	display:inline-block;
	width:100%;
	height:30px;
	line-height:28px;
	padding-left:30px;
	cursor:pointer;
	z-index:9;
}
.radio-check {
 	position:absolute;
 	width:12px;
 	height:12px;
 	line-height:12px;
 	border:4px solid #dedede;
 	border-radius:100%;
 	top:5px;
}
.radio-box input[type=radio],
.input-custom input[type=checkbox] {
	visibility:hidden;
	position:absolute;
}
.radio-check:before {
	display:block;
  	position:absolute;
	content:'';
  	border-radius:100%;
  	height:8px;
  	width:8px;
  	top:2px;
	left:2px;
 	margin:auto;
	transition:background 0.25s linear;
	-webkit-transition:background 0.25s linear;
}
.radio-box:hover .radio-check {
	border:4px solid #8FBC94;
}
.radio-box input[type=radio]:checked ~ .radio-check {
	border:4px solid #8FBC94;
}
.radio-box input[type=radio]:checked ~ .radio-check:before {
	background:#8FBC94;
}
.radio-box input[type=radio]:checked ~ label {
	font-weight:bold;
}
#checkLabel {
	position:relative;
  	cursor:pointer;
}
.input-custom input[type=checkbox] + #checkLabel:before {
	content:'';
	width:20px;
	height:20px;
	line-height:20px;
	border-radius:100%;
	border:2px solid #dedede;
	display:inline-block;
	margin-right:10px;
	margin-top:-2px;
	background:#fff;
	vertical-align:middle;
}
.input-custom input[type=checkbox]:hover + #checkLabel:before {
	background:#8FBC94;
}
.input-custom input[type=checkbox]:checked + #checkLabel:before {
	background:#8FBC94;
}
.input-custom input[type=checkbox]:checked + #checkLabel:after {
	content:'';
  	position:absolute;
  	left:7px;
  	top:16px;
  	background:white;
  	width:2px;
  	height:2px;
  	box-shadow:2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
  	-webkit-transform:rotate(45deg);
    transform:rotate(45deg);
}

.login-box {
	clear:both;
	width:100%;
	margin:20px 0 25px;
}
.login-box input {
	width:496px;
	height:30px;
	line-height:30px;
	padding:10px;
	margin-bottom:15px;
}
.login-box input:last-child {
	margin-bottom:none;
}
.login-box input:read-only {
	background:#eee;
	cursor:default;
}
.phoneArea {
	display:flex; 
	justify-content:space-between;
}
.phoneArea select#m_phone1,
.phoneArea select#m_phone0 {
	outline:none;
	appearance:none;
	-webkit-appearance:none;
	-moz-appearance:none;
	-ms-appearance:none;
	border-radius:0px; 
	cursor:pointer;
	padding-left:10px;
	background:url(/resources/img/select-arrow.png) no-repeat 90%;
	height:52px;
	line-heihgt:52px;
	width:150px;
	border:1px solid #dedede;
}
.phoneArea input {
	width:150px;
}
.activeBtn {
	width:100%;
	height:50px;
	line-height:50px;
	text-align:center;
	border:none;
	background:#8FBC94;
	color:#fff;
	font-weight:bold;
	font-size:18px;
	cursor:pointer;
}
.find-info {
	margin-top:15px;
	display:flex;
	justify-content:space-between;
}
.find-info a:hover {
	font-weight:bold;
}

#account-footer {
	width:100%;
	height:100px;
	flex-shrink:0;
}
.footer-link {
	width:520px;
	margin:0 auto;
	text-align:center;
	padding:15px 0;
}
.footer-link a {
	padding:0 10px;
}
.copyright {
	text-align:center;
}
.link-home {
	font-weight:bold;
}

.error {
	color:#f00;
	margin-bottom:15px;
}
/* account */

/* mypage */
#mypage-contents {
	width:520px;
	margin:0 auto;
}
#mypage-contents .login-box h3 {
	font-size:18px;
	margin-bottom:15px;
}
/* mypage */

/* img upload */
.preview {
  	width:500px;
	height:400px;
	overflow:hidden;
  	border:1px solid #d2d2d2;
  	margin-top:10px;
  	display:none;
  	/* background:url(/resources/img/noimg.jpg) no-repeat; */
  	background-size:cover;
  	background-position:center;
}
.file-upload-wrapper {
	position:relative;
  	z-index:5;
  	display:block;
  	width:200px;
  	height:42px;
  	line-height:42px;
  	border:1px solid #dedede;
}
.file-upload-wrapper .file-upload-native,
.file-upload-wrapper .file-upload-text {
	position:absolute;
	top:0;
	left:0;
	display:block;
	width:100%;
	height:100%;
	cursor:pointer;
	text-align:center;
	padding:0;
}
input[type="file"]::-webkit-file-upload-button {
	cursor:pointer;
}
.file-upload-wrapper .file-upload-native:focus,
.file-upload-wrapper .file-upload-text:focus {
	outline:none;
}
.file-upload-wrapper .file-upload-text {
	z-index:10;
	overflow:hidden;
	cursor:pointer;
	text-align:center;
	text-overflow:ellipsis;
	border:0;
	background-color:transparent;
}
.file-upload-wrapper .file-upload-text::placeholder {
  	text-align:center;
  	color:#2074c8;
}
.file-upload-wrapper .file-upload-native {
	z-index:15;
	opacity:0;
}
/* img upload */

/* slider */
.slide-wrap {
	width:580px;
  	height:410px;
  	position:relative;
  	zoom:1;
  	margin-bottom:30px;
  	overflow:hidden;
  	border:1px solid #dedede;
/*   	background-image:url(/resources/img/noimg.jpg); */
/*   	background-repeat:none; */
/*   	background-position:center; */
/*   	background-size:cover; */
}
.slide-wrap .flex-viewport {
    max-height:412px;
}
.slide-wrap .slides {
  zoom:1;
  margin:0;
  padding:0;
}
.slide-wrap .slides > li {
  	display:none;
  	-webkit-backface-visibility:hidden;
}
.slide-wrap .slides > li.clone {
	display:none;
}
.slide-wrap .slides > li img {
/*   -webkit-user-drag:none; */
/*   user-drag:none; */
  width:100%;
  display:block;
}

/* Direction Nav */
.slide-wrap .flex-direction-nav {
  height:0;
  margin:0;
  padding:0;
}
.slide-wrap .flex-direction-nav a {
  width:100px;
  height:50px;
  margin:0;
  display:block;
  position:absolute;
  z-index:5;
  cursor:pointer;
  background:rgba(0,0,0,0.9);
  text-indent:-9999px;
  opacity:1;
  -webkit-transition: all .3s ease;
}
.slide-wrap .flex-direction-nav .flex-next {
  right:5px;
  top:46%;
  background:url(/resources/img/bg_direction_nav.png) no-repeat -48px 0;
}
.slide-wrap .flex-direction-nav .flex-prev {
  left:5px;
  top:46%;
  background:url(/resources/img/bg_direction_nav.png) no-repeat -228px 0;
}
/* Control Nav  /// pagination 사용안함*/
.slide-wrap .flex-control-nav {
  display:none;
}
/* slider */
