/* toggle */
.toggle-wrap {
   display:inline-block;
   width:60px;
   height:32px;
   line-height:32px;
}
.toggle {
  display:none;
}
.toggle-btn {
  outline: 0;
  display: block;
  width:4em;
  height:2em;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  top:0%;
  left:50px;
}
.toggle-btn:after, .toggle-btn:before {
  position: relative;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
}
.toggle-btn:after {
  left: 0;
}
.toggle-btn:before {
  display: none;
}
.toggle:checked + .toggle-btn:after {
  left: 50%;
}
.toggle + .toggle-btn {
  background: #dedede;
  border-radius: 2em;
  padding: 2px;
  transition: all .4s ease;
}
.toggle + .toggle-btn:after {
  border-radius: 50%;
  background: #fff;
  transition: all .2s ease;
}
.toggle:checked + .toggle-btn {
  background: #9FD6AE;
}