<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fly.admin.login.dao.AdminLoginDao">
    
 	<select id="getSttst" resultType="statistics">    
	 	SELECT a.*
		FROM (SELECT (SELECT count(*) FROM member WHERE to_char(m_regdate, 'yyyy-MM-dd') = to_char(sysdate, 'yyyy-MM-dd')) today, 
			(SELECT count(*) FROM member WHERE to_char(m_regdate, 'yyyy-MM') = to_char(sysdate, 'yyyy-MM')) month, 
			(SELECT count(*) FROM member) total FROM dual) a
		union all
		SELECT b.*
		FROM (SELECT (SELECT count(*) FROM place WHERE to_char(p_regdate, 'yyyy-MM-dd') = to_char(sysdate, 'yyyy-MM-dd')), 
			(SELECT count(*) FROM place WHERE to_char(p_regdate, 'yyyy-MM') = to_char(sysdate, 'yyyy-MM')), 
			(SELECT count(*) FROM place) FROM dual) b
		union all
		SELECT c.*
		FROM (SELECT (SELECT count(*) FROM rental WHERE to_char(r_regdate, 'yyyy-MM-dd') = to_char(sysdate, 'yyyy-MM-dd')), 
			(SELECT count(*) FROM rental WHERE to_char(r_regdate, 'yyyy-MM') = to_char(sysdate, 'yyyy-MM')), 
			(SELECT count(*) FROM rental) FROM dual) c
		union all
		SELECT d.*
		FROM (SELECT (SELECT count(*) FROM match_board WHERE to_char(mb_regdate, 'yyyy-MM-dd') = to_char(sysdate, 'yyyy-MM-dd')), 
			(SELECT count(*) FROM match_board WHERE to_char(mb_regdate, 'yyyy-MM') = to_char(sysdate, 'yyyy-MM')), 
			(SELECT count(*) FROM match_board) FROM dual) d
		union all
		SELECT e.*
		FROM (SELECT (SELECT count(*) FROM support WHERE to_char(hs_regdate, 'yyyy-MM-dd') = to_char(sysdate, 'yyyy-MM-dd')), 
			(SELECT count(*) FROM support WHERE to_char(hs_regdate, 'yyyy-MM') = to_char(sysdate, 'yyyy-MM')), 
			(SELECT count(*) FROM support) FROM dual) e
    	union all
		SELECT f.*
		FROM (SELECT (SELECT count(*) FROM recruit WHERE to_char(hr_regdate, 'yyyy-MM-dd') = to_char(sysdate, 'yyyy-MM-dd')), 
			(SELECT count(*) FROM recruit WHERE to_char(hr_regdate, 'yyyy-MM') = to_char(sysdate, 'yyyy-MM')), 
			(SELECT count(*) FROM recruit) FROM dual) f
    	
    </select>

</mapper>