<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fly.admin.calculate.dao.AdminCalculateDao">

	<select id="adminCalculateList" resultType="calculate"
		parameterType="calculate">
		SELECT
		c.c_no, to_char(c.c_regdate, 'yyyy/MM/dd') c_regdate, p.m_id, p.p_ceo, c.c_rental_cnt, 
		c.c_return_cnt, c.c_payment, to_char(c.c_payment_date,'yyyy/MM/dd') c_payment_date, c.c_status, p.p_num 
		FROM (select ROWNUM RNUM, r.*
     			from (select * 
     					from calculate 
     					ORDER BY c_regdate desc) r
     					) c, place p
		where c.p_num = p.p_num 
		<choose>
		    <when test="statusChoice == 1">
		      AND c_status = -1 
		    </when>
		    <when test="statusChoice == 2">
		       AND c_status = 1 
		    </when>
		    <otherwise>
		     
		    </otherwise>
		</choose>
	     <if test="start_row != null and start_row != ''">
	     	<if test="end_row != null and end_row != ''">
	     		and RNUM BETWEEN #{start_row} and #{end_row} 
	     	</if>	
	     </if>
	     <if test="p_ceo != null">
				 AND p_ceo LIKE '%'|| #{p_ceo} ||'%' 
		</if>
	</select>
	
	<select id="pageingSize" resultType="int"
		parameterType="calculate">
			SELECT 
			nvl(count(*), 0)
			FROM calculate c, place p
			where c.p_num = p.p_num 
			<choose>
			    <when test="statusChoice == 1">
			      AND c_status = -1 
			    </when>
			    <when test="statusChoice == 2">
			       AND c_status = 1  
			    </when>
			    <otherwise>
			    	 
			    </otherwise>
			</choose>
			<if test="p_ceo != null">
				 AND p_ceo LIKE '%'|| #{p_ceo} ||'%' 
			</if>
	</select>
		
	<update id="adminCRentalUpdate" parameterType="String">
		update rental
		set cal_status = 1
		where s_no in(select s_no from stadium
		where p_num = #{p_num})
		and cal_status = -1
		
	</update>
	<update id="adminCalculateUpdate" parameterType="calculate">
		update calculate
		set c_status = 1, c_payment_date = sysdate 
		where c_no = #{c_no}
	</update>
</mapper>