<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="com.fly.client.calculate.dao.ClientCalculateDao">

	<select id="calculateList" resultType="calculate"
		parameterType="String">
		SELECT
		p.p_name, c.c_payment, c.c_rental_cnt,
		c.c_return_cnt, c.c_payment, c.c_status
		, to_char(c.c_regdate,
		'yyyy-MM-dd') c_regdate
		FROM calculate c, place p
		where c.p_num =
		p.p_num and c.p_num
		in(SELECT p_num FROM place
		where m_id = #{m_id})

	</select>


	<select id="calculateIList" resultType="calculate"
		parameterType="String">
		select p.p_name, p.p_num,
		(select count(*) from rental where s_no
		in(select s_no from stadium where
		p_num = p.p_num) and cal_status = 0
		and r_pay_status = 1 and
		to_char(r_reserve_date, 'yyyy/MM/dd') <![CDATA[ < ]]>
		to_char(sysdate - 15,
		'yyyy/MM/dd')) c_rental_cnt,
		(select count(*) from
		rental where s_no in(select s_no from stadium where
		p_num = p.p_num)
		and cal_status = 0 and r_pay_status = -1 and
		to_char(r_reserve_date,
		'yyyy/MM/dd')  <![CDATA[<]]>
		to_char(sysdate - 15,
		'yyyy/MM/dd')) c_return_cnt,
		nvl((select
		sum(r_total_pay) from rental where s_no in(select s_no from stadium
		where p_num = p.p_num) and to_char(r_reserve_date, 'yyyy/MM/dd') <![CDATA[<]]>
		to_char(sysdate - 15, 'yyyy/MM/dd') and cal_status = 0 and
		r_pay_status in(1, -1)), 0) -
		nvl((select sum(r_total_pay) from rental
		where s_no in(select s_no from stadium
		where p_num = p.p_num) and
		to_char(r_reserve_date, 'yyyy/MM/dd') <![CDATA[<]]>
		to_char(sysdate - 15, 'yyyy/MM/dd') and cal_status = 0 and
		r_pay_status = -1), 0) +
		nvl((select sum(refund) from rental where s_no
		in(Select s_no from stadium where
		p_num = p.p_num) and
		to_char(r_reserve_date, 'yyyy/MM/dd') <![CDATA[<]]>
		to_char(sysdate - 15, 'yyyy/MM/dd') and cal_status = 0 and
		r_pay_status = -1), 0) c_payment
		from place p
		where m_id = #{m_id}
	</select>

	<insert id="calculateInsert" parameterType="calculate">
		<selectKey keyProperty="c_no" resultType="int"
			order="BEFORE">
			SELECT calculate_seq.nextval FROM dual
		</selectKey>
		INSERT INTO calculate(
		c_no, p_num, c_payment, c_payment_date,
		c_status, c_regdate, c_rental_cnt, c_return_cnt)
		VALUES(
		#{c_no}
		,
		#{p_num}
		, #{c_payment}
		, #{c_payment_date, jdbcType = DATE}
		, -1
		,
		sysdate
		, #{c_rental_cnt}
		, #{c_return_cnt})
	</insert>

	<update id="pRentalUpdae" parameterType="String">
		update rental
		set cal_status = -1
		where s_no in(select s_no from stadium where p_num = #{p_num})
		and cal_status = 0 and to_char(r_reserve_date, 'yyyy-MM-dd') <![CDATA[<]]>
		to_char(sysdate - 15, 'yyyy-MM-dd')
		and r_pay_status in(-1, 1)
	</update>
</mapper>