<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fly.client.items.dao.ItemsDao">
	
	<select id="selectItemsList" parameterType="String" resultType="items">
		SELECT
			*
		FROM
			items
		WHERE
			i_status = 1 and p_num = #{p_num} and i_use = 1	
	
	</select>
	<select id="itemsList" parameterType="String" resultType="items">
		SELECT
			*
		FROM
			items
		WHERE
			p_num = #{p_num} and i_status in(1,-1)
	</select>
	
	<update id="itemDelete" parameterType="String">
		update items set
		i_status = -2
		where i_no = #{i_no}
	</update>
	
	<update id="itemActive" parameterType="String">
		update items set
		i_status = 1
		where i_no = #{i_no}
	</update>
	
	<update id="itemUnActive" parameterType="String">
		update items set
		i_status = -1
		where i_no = #{i_no}
	</update>
	
</mapper>