<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fly.member.join.dao.MemberDao">

	<select id="securitySelect" parameterType="String"
		resultType="member">
		select m_pw from member
		where m_id = #{m_id}
	</select>

	<select id="memberSelect" parameterType="String"
		resultType="member">
		select m_id, m_pw, m_phone, m_regdate, m_status, m_type, m_name, email_confirm 
		from member
		where m_id = #{m_id}
	</select>
	
	<select id="memberidsearchC" parameterType="String"
		resultType="member">
		select replace(m_id , substr(m_id,2,4) , '***') "m_id" 
		from member
		where m_name = #{m_name} and m_phone = #{m_phone} and m_type = 0  
	</select>
	
	<select id="memberidsearchU" parameterType="String"
		resultType="member">
		select replace(m_id , substr(m_id,2,4) , '***') "m_id" 
		from member
		where m_name = #{m_name} and m_phone = #{m_phone} and m_type = 1  
	</select>

	<insert id="memberJoin" parameterType="member">
		<!-- member - memberInsert -->
		insert into member(m_id, m_pw, m_phone, m_regdate, m_status, m_type,  
		m_name, email_confirm)
		values(#{m_id}, #{m_pw}, #{m_phone}, sysdate, 1,
		#{m_type}, #{m_name}, 0)
	</insert>
	
	<update id="GetKey" parameterType="Map">
		UPDATE member set
		email_confirm = #{email_confirm}
		where m_id = #{m_id}
	</update>
	
	
	<update id="alter_userKey" parameterType="Map">
		UPDATE member set
		email_confirm = 'Y'
		where m_id = #{m_id}
	</update>

	<update id="memberUpdate" parameterType="member">
		UPDATE member set
			m_pw = #{m_pw},
			m_phone = #{m_phone}, 
			m_name = #{m_name} 
		where m_id = #{m_id}
	</update>
	
	<update id="memberUpdatePN" parameterType="member">
		UPDATE member set
			m_phone = #{m_phone},
			m_name = #{m_name} 
		where m_id = #{m_id}
	</update>
	
	<update id="pwUpdate" parameterType="member">
		UPDATE member set
			m_pw = #{m_pw}
		where m_id = #{m_id}
	</update>

	<update id="memberDelete" parameterType="String">
		update member set
		m_status = 0
		where m_id = #{m_id}
	</update>
	
	<update id="memberActive" parameterType="String">
		update member set
		m_status = 1
		where m_id = #{m_id}
	</update>
	

</mapper>