<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

  
  <mapper namespace="com.fly.member.recruit.dao.RecruitDao">
  
   <!-- 게시물 전체 목록 조회 쿼리문 -->
	<select id="recruitList" resultType="recruit" parameterType="recruit">

        select
		hr_no,
		m_id,
		hr_name,
		hr_m_date,
		hr_people,
		m_name,
		hr_regdate,
		hr_progress
		FROM (
		select LIST.*, ROWNUM AS RNUM
		FROM (
			select
			r.hr_no,
			m.m_id,
			r.hr_name,
			to_char(hr_m_date, 'YYYY-MM-DD') as hr_m_date,
			r.hr_people,
			m.m_name,
			to_char(hr_regdate, 'YYYY-MM-DD') as hr_regdate,
			r.hr_progress
			FROM
			recruit r, member m
			where r.m_id = m.m_id and hr_status = 1
			<if test="keyword != null">
				and m.m_name LIKE '%' || #{keyword} || '%'
			</if>
			 order by hr_regdate desc
		)LIST
		)
		<where>
			<if test="start_row != null and start_row != ''">
				<if test="end_row != null and end_row != ''">
					RNUM BETWEEN #{start_row} AND #{end_row}
				</if>
			</if>
		</where>
		order by hr_regdate DESC
	</select>


	<!-- 게시물 카운트 페이징 -->
	<select id="recruitListCnt" parameterType="recruit" resultType="int">

		SELECT NVL(count(1), 0) FROM
		(
		select LIST.*, ROWNUM AS RNUM
		FROM (
			select
			r.hr_no,
			m.m_id,
			r.hr_name,
			to_char(hr_m_date, 'YYYY-MM-DD') as hr_m_date,
			r.hr_people,
			m.m_name,
			to_char(hr_regdate, 'YYYY-MM-DD') as hr_regdate,
			r.hr_progress
			FROM
			recruit r, member m
			where r.m_id = m.m_id and hr_status = 1
			<if test="keyword != null">
      			and m.m_name LIKE '%' || #{keyword} || '%' 
     		 </if>
		) LIST
		)

	</select>


	<!-- 상세보기 쿼리문 -->
	<select id="recruitView" parameterType="int" resultType="recruit">
		select
		r.hr_no,
		m.m_id,
		m.m_name,
		r.hr_m_type,
		r.hr_name,
		r.hr_address,
		r.hr_stadium,
		to_char(hr_m_date, 'YYYY-MM-DD') as hr_m_date,
		r.hr_people,
		r.hr_time,
		r.hr_nuiform,
		r.hr_level,
		m.m_phone,
		r.hr_progress,
		r.hr_etc
		FROM recruit r, member m
		where r.m_id = m.m_id
		and r.hr_no = #{hr_no}
	</select>

	<!-- 게시물 등록 쿼리문 -->
	<insert id="recruitInsert" parameterType="recruit">
		<selectKey keyProperty="hr_no" resultType="int"
			order="BEFORE">
			select recruit_seq.nextval from dual
		</selectKey>
		INSERT INTO recruit
		(hr_no, m_id, hr_name, hr_address, hr_m_date,
 		hr_people, hr_time, hr_m_type,
		hr_stadium, hr_nuiform, hr_level, hr_progress,
		hr_etc, hr_regdate, hr_status)
		values
		(recruit_seq.nextval, #{m_id},
		#{hr_name}, #{hr_address}, to_date(#{hr_m_date},
		'yyyy-MM-dd'), #{hr_people}, #{hr_time},
		#{hr_m_type}, #{hr_stadium}, #{hr_nuiform}, #{hr_level}, 1,
		#{hr_etc}, SYSDATE, 1)
	</insert>

	<!-- 게시물 수정 쿼리문 -->
	<update id="recruitUpdate" parameterType="recruit">
		UPDATE
		recruit
		SET
		hr_name = #{hr_name},
		hr_address = #{hr_address},
		hr_m_date = to_date(#{hr_m_date}, 'yyyy-MM-dd'),
		hr_people = #{hr_people},
		hr_time = #{hr_time},
		hr_m_type = #{hr_m_type},
		hr_stadium = #{hr_stadium},
		hr_nuiform = #{hr_nuiform},
		hr_level = #{hr_level},
		hr_progress = #{hr_progress},
		hr_etc = #{hr_etc}
		where hr_no = #{hr_no}
	</update>
	
	<update id="recruitMbdate">
	UPDATE
	recruit
	SET
	hr_progress = 0
	where to_char(hr_m_date, 'yyyy-MM-dd') <![CDATA[ < ]]> to_char(sysdate, 'yyyy-MM-dd') and hr_progress = 1
	</update>
	
	<update id="recruitStatusUpdate">
	UPDATE
	recruit
	SET
	hr_status = 0
	where hr_no = #{hr_no}
	</update>
	


 <!-- 관리자 게시물 전체 목록 조회 쿼리문 -->
	<select id="adminRecruitList" resultType="recruit" parameterType="recruit">

        select
		hr_no,
		m_id,
		hr_name,
		hr_m_date,
		hr_people,
		m_name,
		hr_regdate,
		hr_progress,
		hr_status
		FROM (
		select LIST.*, ROWNUM AS RNUM
		FROM (
			select
			r.hr_no,
			m.m_id,
			r.hr_name,
			to_char(hr_m_date, 'YYYY-MM-DD') as hr_m_date,
			r.hr_people,
			m.m_name,
			to_char(hr_regdate, 'YYYY-MM-DD') as hr_regdate,
			r.hr_progress,
			hr_status
			FROM
			recruit r, member m
			where r.m_id = m.m_id
			<if test="keyword != null">
				and m.m_name LIKE '%' || #{keyword} || '%'
			</if>
			order by hr_regdate desc
		)LIST
		)
		<where>
			<if test="start_row != null and start_row != ''">
				<if test="end_row != null and end_row != ''">
					RNUM BETWEEN #{start_row} AND #{end_row}
				</if>
			</if>
		</where>
		order by hr_regdate desc
	</select>


	<!-- 게시물 카운트 페이징 -->
	<select id="adminRecruitListCnt" parameterType="recruit" resultType="int">

		SELECT NVL(count(1), 0) FROM
		(
		select LIST.*, ROWNUM AS RNUM
		FROM (
			select
			r.hr_no,
			m.m_id,
			r.hr_name,
			to_char(hr_m_date, 'YYYY-MM-DD') as hr_m_date,
			r.hr_people,
			m.m_name,
			to_char(hr_regdate, 'YYYY-MM-DD') as hr_regdate,
			r.hr_progress,
			hr_status
			FROM
			recruit r, member m
			where r.m_id = m.m_id
			<if test="keyword != null">
      			and m.m_name LIKE '%' || #{keyword} || '%' 
     		 </if>
		) LIST
		)

	</select>

</mapper>