<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

  
  <mapper namespace="com.fly.member.support.dao.SupportDao">
  
   <!-- 게시물 전체 목록 조회 쿼리문 -->
	<select id="supportList" resultType="support" parameterType="support">

        select
		hs_no,
		m_id,
		hs_area,
		hs_date,
		hs_time,
		m_name,
		hs_regdate,
		hs_progress
		FROM (
		select LIST.*, ROWNUM AS RNUM
		FROM (
			select
			s.hs_no,
			m.m_id,
			s.hs_area,
			to_char(hs_date, 'YYYY-MM-DD') as hs_date,
			s.hs_time,
			m.m_name,
			to_char(hs_regdate, 'YYYY-MM-DD') as hs_regdate,
			s.hs_progress
			FROM
			support s, member m
			where s.m_id = m.m_id
			<if test="keyword != null">
				and m.m_name LIKE '%' || #{keyword} || '%'
			</if>
		)LIST
		)
		<where>
			<if test="start_row != null and start_row != ''">
				<if test="end_row != null and end_row != ''">
					RNUM BETWEEN #{start_row} AND #{end_row}
				</if>
			</if>
		</where>
		order by hs_regdate desc
	</select>


	<!-- 게시물 카운트 페이징 -->
	<select id="supportListCnt" parameterType="support" resultType="int">

		SELECT NVL(count(1), 0) FROM
		(
		select LIST.*, ROWNUM AS RNUM
		FROM (
			select
			s.hs_no,
			m.m_id,
			s.hs_area,
			to_char(hs_date, 'YYYY-MM-DD') as hs_date,
			s.hs_time,
			m.m_name,
			to_char(hs_regdate, 'YYYY-MM-DD') as hs_regdate,
			s.hs_progress
			FROM
			support s, member m
			where s.m_id = m.m_id
			<if test="keyword != null">
      			and m.m_name LIKE '%' || #{keyword} || '%' 
     		 </if>
		) LIST
		)

	</select>


	<!-- 상세보기 쿼리문 -->
	<select id="supportView" parameterType="int" resultType="support">
		select
		s.hs_no,
		m.m_id,
		m.m_name,
		s.hs_area,
		to_char(hs_date, 'YYYY-MM-DD') as hs_date,
		s.hs_time,
		s.hs_level,
		s.hs_people,
		m.m_phone,
		s.hs_progress,
		s.hs_etc
		FROM support s, member m
		where s.m_id = m.m_id
		and s.hs_no = #{hs_no}
	</select>

	<!-- 게시물 등록 쿼리문 -->
	<insert id="supportInsert" parameterType="support">
		<selectKey keyProperty="hs_no" resultType="int"
			order="BEFORE">
			select support_seq.nextval from dual
		</selectKey>
		INSERT INTO support
		(hs_no, m_id, hs_area, hs_date,
 		hs_people, hs_time,
		hs_level, hs_progress,
		hs_etc, hs_regdate, hs_status)
		values
		(support_seq.nextval, #{m_id},
		#{hs_area}, to_date(#{hs_date},
		'yyyy-MM-dd'), #{hs_people}, #{hs_time},
		#{hs_level}, 1,
		#{hs_etc}, SYSDATE, 1)
	</insert>

	<!-- 게시물 수정 쿼리문 -->
	<update id="supportUpdate" parameterType="support">
		UPDATE
		support
		SET
		hs_area = #{hs_area},
		hs_date = to_date(#{hs_date}, 'yyyy-MM-dd'),
		hs_people = #{hs_people},
		hs_time = #{hs_time},
		hs_level = #{hs_level},
		hs_progress = #{hs_progress},
		hs_etc = #{hs_etc}
		where hs_no = #{hs_no}
	</update>
	
	<update id="supportMbdate">
	UPDATE
	support
	SET
	hs_progress = 0
	where to_char(hs_date, 'yyyy-MM-dd') <![CDATA[ < ]]> to_char(sysdate, 'yyyy-MM-dd') and hs_progress = 1
	</update>


</mapper>